.landing-view {
  display: grid;
  grid-template-columns: 2fr 1fr;
  column-gap: 4vw;
  align-items: center;
  justify-items: center;
  align-content: center;
  align-items: center;
}

.landing-text {
  grid-column: 1;
  text-align: left;
  overflow-wrap: break-word;
  padding-left: calc(8px + 1.5625vw);
  padding-right: calc(8px + 1.5625vw);
}

.landing-text h1 {
  font-size: 3rem;
}

.landing-text h2 {
  font-size: 2rem;
}

.landing-view img {
  grid-column: 2;
  width: 100%;
  max-width: 100%;
}

.btn {
  display: block;
  background-color: var(--primary-color);
  color: var(--white);
  text-align: center;
  padding: calc(8px + 1.5625vw);
  font-size: 1rem;
  font-weight: 500;
  border-radius: 5px;
  margin: 20px 20px;
}

.parallax {
  background-image: url('../assets/index-page/landing.svg'); /* Path to your image */
  background-attachment: fixed; /* Key for parallax */
  background-position: center; 
  background-repeat: no-repeat; 
  background-size: cover; /* Ensures image covers the entire area */
  min-height: 100vh; /* Ensures section takes up full viewport height */
  display: flex;
  align-items: center; 
  justify-content: center; 
}

.parallax-content {
  /* Optional: Add padding for spacing around the card */
  padding: 5cqw; 
}

.text-card {
  background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent white background */
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0,0,0,0.1); /* Add a subtle shadow */
}

.text-card h1 {
  font-size: 8cqw;
}

.text-card h2 {
  font-size: 5cqw;
}

.text-card h3 {
  font-size: 3cqw;
}

.steps-container {
  display: grid;
  width: 90%;
  grid-template-rows: 1.5fr 1fr 1fr 1fr;
  row-gap: 5cqw;
  text-align: right;
  justify-items: start;
}

.step-title {
  font-size: 4cqw;
  font-weight: bold;
}

.step-description {
  font-size: 1.5cqw;
}

.skill-service {
  grid-row: 2;
  grid-column: 1;
  align-self: center;
  justify-self: end;
}

.skill-cro {
  grid-row: 3;
  grid-column: 1;
  align-self: center;
  justify-self: end;
}

.skill-ux {
  grid-row: 4;
  grid-column: 1;
  align-self: center;
  justify-self: end;
}

.my-approach {
  grid-column: 1;
  grid-row: 2 / span 3;
  font-size: 3cqw;
  text-align: left;
  justify-self: center;
  align-self: center;
}

.vertical-text {
  grid-row: 1;
  grid-column: 1;
  text-align: center;
  justify-self: center;
  align-self: start;
  font-size: 4cqw;
  font-weight: 600;
}

@media screen and (max-width: 50em) {

  .text-card h3 {
    font-size: 8cqw;
  }

 .landing-view {
   display: grid;
   grid-template-rows: 1fr 2fr;
   grid-template-columns: 90vw;
   height: 100vh;
 }

 .landing-text {
   grid-row: 2;
   grid-column: 1;
   text-align: left;
   overflow-wrap: break-word;
 }

 .landing-text h1 {
   font-size: 2rem;
 }

 .landing-text h2 {
   font-size: 1.5rem;
 }

 .landing-view img {
   grid-row: 1;
   grid-column: 1;
 }
}
  
