html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: #1e1e2f;
  color: #f3f3f3;
}

:root {
  --navbar-height: 60px; /* Adjust this value if your navbar height changes */
}

#navbar {
  height: calc(100vh - var(--navbar-height));
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-inline: 20px;
  position: relative;
  text-align: center;
  z-index: 1000;
}

.tabs-container {
  position: absolute;
  bottom: 0;
  display: flex;
  width: 100%;
  height: 70px;
  background-color: #121922;
  box-shadow: 0 0 20px rgba(111, 111, 111, 0.2);
}
.sticky {
  position: fixed;
  top: 0;
}

.tabs-container a {
  text-decoration: none;
  color: #e8e8e8;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  letter-spacing: 2px;
  transition: transform 0.4s ease, background-color 0.4s ease;
}

.tabs-container a:hover {
  transform: translateY(-5px);
  background-color: dodgerblue;
}