/* _projects.scss */

/* This reset ensures that there are no default
margins or padding applied to the html and body
elements, which can affect the layout. Setting
height: 100%; ensures that the body takes up the
full height of the viewport.
*/

html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --navbar-height: 60px; /* Adjust this value if your navbar height changes */
}

body {
  font-family: 'SpaceMono Nerd Font', sans-serif;
  margin: 0;
}

.projects {
  background: #1e1e2f;
  color: #f3f3f3;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.case-study-1 {
  background: #f3f3f3;
  color: #1e1e2f;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.case-studies-container {
  display: flex;
  flex-direction: column;
  gap: 0;
  width: 100%;
}

.case-study {
  background: #1e1e2f;
  color: #f3f3f3;
  padding: 2rem;
  width: 100%;
// This ensures that the case study takes up the full
// height of the viewport
  height: calc(100vh - var(--navbar-height));
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  margin: 0;
}

.case-study-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.case-study-left, .case-study-center, .case-study-right {
  flex: 1;
  text-align: center;
}

.case-study-left {
  text-align: left;
}

.case-study-right {
  text-align: right;
}

.case-study-line {
  border: none;
  border-top: 1px solid #666;
  margin: 1rem 0;
}

.case-study-main {
  text-align: center;
}

.case-study img {
  max-width: 100%;
  height: auto;
}

.navbar {
  overflow: hidden;
  position: fixed;
  display: flex;
  background-color: #333;
  z-index: 1000;
  height: var(--navbar-height);
  top: 0;
  left: 0;
  width: 100%;
  justify-content: space-between;
  align-items: center; /* Align the navbar items vertically */  
}

.navbar a {
  float: none;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.navbar a:hover {
  background-color: #ddd;
  color: black;
}

.navbar a.active-nav {
  background-color: #04AA6D;
  color: white;
}

.navbar .icon {
  display: none;
}

@media screen and (max-width: 600px) {
  .navbar a:not(:first-child) {
    display: none;
  }
  .navbar a.icon {
    float: right;
    display: block;
  }

  .navbar.responsive {
    position: relative;
  }
  .navbar.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .navbar.responsive a {
    float: none;
    display: block;
    text-align: left;
  }

  .case-studies-container {
    flex-direction: column;
    align-items: center;
  }

  .case-study {
    width: 100%;
    margin-bottom: 0;
    height: calc(100vh - var(--navbar-height));
  }
}

.full-viewport {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 2rem;
}

.home {
  background: #1e1e2f;
  color: #f3f3f3;
}

.contact {
  background: #f3f3f3;
  color: #1e1e2f;
}

.social-links a {
  margin: 0 1rem;
  color: #333;
  text-decoration: none;
}