/* _projects.scss */
:root {
  --navbar-height: 60px; /* Adjust this value if your navbar height changes */
  --dark-grey: #333333;
  --medium-grey: #636363;
  --light-grey: lightgrey;
  --ash: #f4f4f4;
  --primary-color: #2b72fb;
  --white: white;
  --border: 1px solid var(--light-grey);
  --shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  --button-color: #04AA6D;
}

html {
  overflow-x: hidden;
  max-width: 100%;
}

/* This ensures that the body takes up the full height of the viewport
https://stackoverflow.com/questions/10336194/top-nav-bar-blocking-top-content-of-the-page/11008050#11008050
*/
body {
  padding-top: 60px;
  overflow-x: hidden;
  max-width: 100%;
}
@media (max-width: 979px) {
  body {
    padding-top: 0px;
    overflow-x: hidden;
    max-width: 100%;
  }
}

// h1, h2 {
//   font-family: 'Playfair Display', Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
// }

html, body {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-style: normal;
}

h1 {
  font-size: 5vw;
}

h2 {
  font-size: 3vw;
}

.full-viewport {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: calc(8px + 1.5625vw);
  overflow: hidden;
}

.case-studies-container {
  display: flex;
  flex-direction: column;
  gap: 0;
  width: 100%;
  background-color: var(--light-grey);
}

.case-study-view {
  background: var(--light-grey);
  color: var(--dark-grey);
  width: 90%;
}

.case-study-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 4vw;
}

.case-study-header {
  display: grid;
  grid-template-columns: 2fr 4fr 3fr;
  gap: 10px;
  text-align: left;
}

.case-study-year {
  grid-row: 1;
  grid-column: 1;
  font-size: 1.5rem;
  border-top: 1px solid var(--dark-grey);
  padding-top: calc(8px + 1.5625vw);
  margin-right: 20px;
}

// .case-study-tags {
//   grid-row-start: 2;
//   grid-column: 1;
//   font-size: 1.5rem;
// }

.case-study-summary {
  align-self: start;
  justify-self: start;
  grid-row-start: 1;
  grid-column: 3;
  font-size: 1.5rem;
  overflow-wrap: break-word;
  min-width: 0;
  word-wrap: break-word;
  text-overflow: ellipsis;
  margin-right: 1rem;
}

.case-study-link {
  grid-row-start: 1;
  grid-column: 2;
  text-decoration: none;
}

.case-study-main {
  text-align: center;
  max-height: calc(100vh - var(--navbar-height) - 8rem); // Limit the height of the image container
  max-width: 80%;
  overflow: hidden; // Add this to prevent spillover
}

.case-study-image {
  max-width: 80%;
  height: auto;
  transition: transform 0.8s ease, box-shadow 0.8s ease;
}

.case-study-image:hover {
  transform: scale(0.98);
  box-shadow: 20px 20px 20px var(--light-grey);
}

/* Desktop styles */
.half-viewport .case-study-header {
  display: grid;
  text-align: left;
  grid-template-columns: 1fr;
  width: 100%;
  padding-left: calc(8px + 1.5625vw);
  padding-right: calc(8px + 1.5625vw);
  margin-bottom: 0;
}

.half-viewport .case-study-year {
  grid-row-start: 1;
  grid-column: 1;
}

.half-viewport .case-study-link {
  grid-row-start: 2;
  grid-column: 1;
  overflow-wrap: break-word;
  word-wrap: break-word;
  text-overflow: ellipsis;
}

.half-viewport .case-study-link > h2 {
  font-size: 3rem;
}

.half-viewport .case-study-summary {
  font-size: 1rem;
  grid-row-start: 3;
  grid-column: 1;
}

.half-viewport .case-study-image {
  width: 100%;
  max-width: 100%;
}

@media screen and (max-width: 768px) {

  .case-study-grid {
    display: grid;
    grid-template-columns: 90cqw;
    grid-template-rows: 1fr 1fr;
  }

  .case-study-header {
    display: grid;
    text-align: left;
    grid-template-columns: 1fr;
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 0;
  }

  .case-study-year {
    padding-left: 3rem;
    grid-row-start: 1;
    grid-column: 1;
  }

  .case-study-link {
    grid-row-start: 2;
    grid-column: 1;
    overflow-wrap: break-word;
    word-wrap: break-word;
    text-overflow: ellipsis;
  }

  .case-study-link > h2 {
    font-size: 3rem;
  }

  .case-study-summary {
    font-size: 1rem;
    grid-row-start: 3;
    grid-column: 1;
  }

  .case-study-image {
    width: 100%;
    max-width: 100%;
  }
}