/* _projects.scss */
:root {
  --navbar-height: 60px; /* Adjust this value if your navbar height changes */
}

/* This ensures that the body takes up the full height of the viewport
https://stackoverflow.com/questions/10336194/top-nav-bar-blocking-top-content-of-the-page/11008050#11008050
*/
body {
  padding-top: 60px;
}
@media (max-width: 979px) {
  body {
    padding-top: 0px;
  }
}

h1, h2 {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

body {
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 400;
  font-style: normal;
}

h1 {
  font-size: 5vw;
}

h2 {
  font-size: 3vw;
}

.full-viewport {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 2rem;
}

.case-studies-container {
  display: flex;
  flex-direction: column;
  gap: 0;
  width: 100%;
}

.case-study {
  background: #1e1e2f;
  color: #f3f3f3;
  width: 100%;
}

.case-study-header {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  align-content: flex-start;
  justify-content: flex-start;
  gap: 2rem;
}

.case-study-metadata {
  text-align: left;
}

.case-study-data {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  align-content: flex-start;
  justify-content: flex-start;
  gap: 2rem;
}

.case-study-title h2 {
  font-size: 40vw;
  margin: 0;
}

.case-study-right {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-content: flex-start;
  justify-content: flex-start;
}


.case-study-line {
  border: none;
  border-top: 1px solid #666;
  margin: 1rem 0;
}

.case-study-main {
  text-align: center;
  max-height: calc(100vh - var(--navbar-height) - 8rem); // Limit the height of the image container
  max-width: 80%;
  overflow: hidden; // Add this to prevent spillover
}

.case-study-image {
  max-width: 80%;
  height: auto;
  transition: transform 0.8s ease, box-shadow 0.8s ease;
}

.case-study-image:hover {
  transform: scale(0.98);
  box-shadow: 20px 20px 20px maroon;
}

@media screen and (max-width: 979px) {
  .case-studies-container {
    flex-direction: column;
    align-items: center;
  }

  .case-study {
    width: 100%;
    padding: 40px;
    margin-bottom: 0;
  }

  .case-study-header {
    text-align: justify;
    text-align-last: left;
    padding-left: 40px;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
  }
  
  .case-study-data {
    flex-direction: column;
  }

  .case-study-image {
    max-width: 100%;
  }
}